<section class="pattern-details">
    <img id="display-image" src="<%= pattern['display_image_url']%>" alt="" data-id="<%= pattern['id']%>">
    <img src="<%= pattern['chart_url']%>" alt="">
    <% if logged_in? %>
        <% if get_saved_patterns(current_user['id']) == nil ||get_saved_patterns(current_user['id']).split(',').include?(pattern['id']) == false %>

        <form action="/pattern/save/<%= pattern['id']%>" method="post">
            <input type="hidden" name="_method" value="patch">
            <button id="save">Save</button>
        </form>

        <% else %>
            <form action="/pattern/unsave/<%= pattern['id']%>" method="post">
                <input type="hidden" name="_method" value="patch">
                <button id="save">Unsave</button>
            </form>
        <% end %>
        <a href="/patterns/projects/<%= pattern['id'] %>">View Projects</a>
    <% end %>
</section>
<a href="javascript:history.back()">Go Back</a>